<h1>Edit Profile!</h1>
  <%= form_for @user do |f| %>
  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Current Location: <%= f.text_field :location %>
  Email: <%= f.text_field :email %>
  Photo: <%= f.text_field :photo %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Save Changes" %>
<% end %>
