<div class="container">
    <div class="col s12 m7">
      <h2 class="header">Welcome, <%= @user.username %>!</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="<%=@user.photo%>" style="height: 190px; width: 200px;">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <% if @posts %>
            <strong><%= @user.first_name %>'s Posts</strong>
            <p>posting from <%= @user.location %></p>
            <% end %>
          </div>
          <div class="card-action">
            <a href="#">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="card large">
  <% @user.posts.order('created_at DESC').each do |post| %>
    <h2 class="header"><%= post.title %></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= post.picture %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= post.content %></p>
          <p><%= post.created_at.strftime("Post made %m/%d/%Y at %I:%M%p") %></p>
        </div>
        <% end %>
        <div class="row center-align">
          <%= link_to "Show", post_path %>
        </div>
      </div>
    </div>
</div>
