<h1> Welcome <%= @user.first_name %> </h1>
<img src="<%=@user.photo%>" style="height: 190px; width: 200px;">
<hr>
<% if @posts %>
<h3><%= @user.first_name %>'s Posts</h3>
<% end %>

<% @user.posts.order('created_at DESC').each do |post| %>
<%= post.title %><br>
<%= post.content %><br>
<%= post.created_at %>
<hr>
<% end %>
