<div class="card panel center">
  <h3> <%= @city.name %> </h3>
  <p> <%= link_to "Visit #{@city.city_website}", "#{@city.city_website}" %> </p>
  <p> <%= @city.description %> </p>
    <% if current_user %>
      <%= button_to "New Post", new_post_path, :class => "btn blue-grey lighten-3" %>
    <% end %>
</div>
<hr>
<div class="row">
  <div class="card large">
    <% @city.posts.order('created_at DESC').each do |post| %>
    <div class="card horizontal">
      <h2 class="header"><%= post.title %></h2>
      <img src="<%= post.picture %>" style="height: 400px; max-height: 100%; max-width: 100%;">
      <div class="card-content">
        <div class="card panel">
          <p><%= post.content %></p>
          <p><%= post.created_at.strftime("Post made %m/%d/%Y at %I:%M%p") %></p>
        </div>
        <% if current_user && current_user[:id] == post[:user_id] %>
        <%= button_to "Edit", edit_post_path(@city.id, post[:id]), method: :get, :class => "btn blue-grey lighten-3"  %>
        <%= button_to "/cities/#{@city.id}/posts/#{post.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn blue-grey lighten-3" do %> Delete
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>
