<div>
 Welcome to <%= @city.name %>
</div>
<div>
 Website: <%= @city.city_website %>
</div>
<div>
 Description: <%= @city.description %>
</div>
<div>
 <%= @city.picture %>
</div>
<%= button_to "Delete", @city, method: :delete, data: { confirm: 'Are you sure?' }%>
<%= button_to "Edit", edit_city_path(@city), method: :get %>
