
<div>
 Welcome to <%= @city.name %>
</div>
<div>
 Website: <%= @city.city_website %>
</div>
<div>
 Description: <%= @city.description %>
</div>
<div>
 <%= @city.picture %>
</div>
<hr>
<%= @posts.title %>
<br />
<%= @posts.content %>
