<h3> City </h3>
<div>
 Welcome to <%= @city.name %>
</div>
<div>
 Website: <%= @city.city_website %>
</div>
<div>
 Description: <%= @city.description %>
</div>
<div>
 <%= @city.picture %>
</div>
<div>
  <%= button_to "New Post", new_post_path %>
</div>
<hr>
<h4>Posts</h4>
<%= @posts.title %>
<br />
<%= @posts.content %>
<br>
